<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BULAN BARU | EMAIL</title>
</head>
<body style="background-color: #FBEEE6; color: #ffffff">
<table width="100%" height="100%">
	<tr>
	<td align="center">
	<div style="text-align:center; font-size: 10px; padding-bottom: 6px; color: #333333">
	If you cannot view this email please click <a href="{EMAIL_URL}" style="color: #AAAAAA">here</a>
	</div>
	<table style="width: 812px; background-color: #000000; border: 0" border="0">
		<tr>
			<td style="padding: 6px;" align="center"><img src="{BANNER_TOP_IMAGE}" width="800px" height="280px"/></td>
		</tr>
		<tr>
			<td style="padding: 0px 6px 0px 6px; color: #cccccc">
				<div style="padding: 24px 32px 32px 32px; background-color: #333333; font-size: 14px; font-family: helvetica">
				<h2 style="color: #ffffff">Almost surf time...</h2> 
				<p>
				It's not long now until your trip starts so we thought we'd get in touch and give you a bit of info.
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/calendar-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Dates and locations</h3>
				<ul>
					<li>The boat will leave from <b style="color: #ffffff">{DEPART_HARBOUR}</b> on <b style="color: #ffffff">{DEPART_DATE}</b>.  The nearest airport is <b>{DEPART_AIRPORT}</b></li>
					<li>The final destination where you will disembark is <b style="color: #ffffff">{ARRIVE_HARBOUR}</b> on <b style="color: #ffffff">{ARRIVE_DATE}</b>. The nearest airport is <b>{ARRIVE_AIRPORT}</b></li>
				</ul>
				<p>
				We will meet you when you arrive and bring you to the boat.
				</p>
				
				<p>
				The boat normally leaves late afternoon/early evening which fits with almost any flight so just choose a time that suits you best and let us know.  
				As for returning home please book your ticket for lunchtime or afternoon (early morning is not advised).  
				If you would like help arranging flights please let us know.  
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- section phpotog -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/camera-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Photographer</h3>
				<p>
				We have an extremely accomplished, professional photographer onboard (you can check out his work here <a href="{PHOTOG_URL}" style="color: #AAAAAA">{PHOTOG_NAME}</a>).
				His rates are:
				</p>
				
				<ul>
					<li>{PHOTOG_PPP} per person for a full range of surf and lifestyle photos (supplied at the end of the trip on a USB stick).</li>
					<li>Discounts for groups are available.</li>
				</ul>
				
				<p>
				At the beginning of the trip you will be asked if you want his service  (or you can let us know beforehand if you are certain).  
				At the end he will provide a full range of personalised surf and lifestyle photos and videos, from the land, boat, water and the air (via drone).
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- section passport -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/passport-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Passports</h3>
				<p>
				Please make sure you (and anyone else in your group) has sent us a scan of their passport.  
				We need it in order to process harbour clearence so that by the time you arrive the boat is ready to go without delay. 
				Please remember to bring the passport with you. 
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/medical-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Travel Insurance</h3>
				<p>
				Please make sure you (and anyone else in your group) has sent us a scan of their travel insurance (see our <a style="color: #AAAAAA" href="{TERMS_URL}">terms</a> for further info as to the kind of travel insurance required). 
				If you haven't already done so, please inform us of any medical issues you may have.
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/beer-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Beer</h3>
				<p>
				We provide {BEER_FREE_CRATES} crates of beer free.  If you are a thirsty bunch then please let us know in advance and we will carry extra on the boat (cost per additional crate is {BEER_CRATE_COST}).
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- food section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/food-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Dietary requirements</h3>
				<p>
				Now is a good time to let us know if you or any of your group have any particular dietary requirements (e.g. someone is diabetic, someone is vegan).
				Indonesia does not have many of the foods you may be familiar with so it can sometimes be difficult for us to source stuff at last minute. Informing us well in advance is very helpful.
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- surf-guide section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/surfguide-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Surf Guiding</h3>
				<p>
				A surf guide will accompany the boat.  Their role is to ensure that you get the best waves possible, informing you the night before what the plan is for the next day, explaining a new surf spot and accompanying you in the water to be at hand if needed.  Feel free to ask them questions at any time. 
				While they are not there as surf-coaches they will be happy to offer advice and tips so don't be shy about asking!
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- fishing section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/fishing-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Fishing</h3>
				<p>
				We carry fishing equipment on board: rods, reels, lures, spearguns...  However if you are a keen fisherman we advise you to bring your own gear.  
				We will endeavour to have a fishing guide on the trip with you to offer advice on where and when is good to fish, the kinds of fish around and someone to accompany you trawling or spearing if desired.
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				
				<!-- section -->
				<h3 style="color: #ffffff"><img src="{IMAGE_SRC_ROOT}/email/info-icon.png" width="24" height="24" align="absmiddle" style="margin: -6px 6px 0px 0px"/>Further info...</h3>
				<p>
				For more information and advice about how to prepare for your trip please take a look at the <a href="{CHECKLIST_URL}" style="color: #AAAAAA">checklist</a> or <a href="{FAQ_URL}" style="color: #AAAAAA">FAQ</a>.
				Or just drop us an email at <a href="mailto:{EMAIL_REPLYTO_ADDRESS}" style="color: #AAAAAA">{EMAIL_REPLYTO_ADDRESS}</a> and we will be happy to answer any questions you have.
				</p>
				<div style="text-align: center">
					<img src="{IMAGE_SRC_ROOT}/toraja-sun-small.png" width="24" height="24"/>
				</div>
				
				<!-- end sections -->
				<p>
				Looking forward to seeing you onboard the Bulan Baru... yeewww!!!
				</p>
				</div>
			</td>
		</tr>
		<tr>
			<td style="padding: 6px;"><img src="{BANNER_BOTTOM_IMAGE}"/></td>
		</tr>
	</table>
	</td>
	</tr>
</table>
</body>
</html>